doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../scss/main.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
body 
    header 
        .container 
            .header__inner 
                .header__logo Company Name
                nav.nav 
                    a(class="nav__link" href="#") WHY US ▾
                    a(class="nav__link" href="#") VPN APPS ▾
                    a(class="nav__link" href="#") SUPPORT ▾
                    a(class="nav__link" href="#") RESOURCES ▾

                .header__btn 
                    a(class="header__btn-a" href="#") LOG IN
                    a(class="header__btn-.blog__li" href="#") GET STARTED 

    .intro 
        .container 
            .intro__inner
                img(class="intro__img" src="../img/1.png", alt="")
                .intro__text 
                    .intro__title TV Addons: Legal battle against Canadian media giants demonstrates severe consequences facing developers accused of copyright infringement
                    .intro__data <span>Danica Sergison</span> |  JUL 08, 2018
                    .intro__a 
                        a(href="#") Copyright, 
                        a(href="#") News,
                        a(href="#") Open Source, 
                        a(href="#") Privacy   
                    .intro__messenge 
                        img(src="../img/icon/1.png", alt="")
                        div 0
    
    section 
        .container 
            .tags 
                .tags__inner 
                    div TAGS: 
                    .tags__nav
                        a(href="#") BITCOIN
                        a(href="#") BOTTORRENT
                        a(href="#") IRC
                        a(href="#") NEWS
                        a(href="#") PRIVACY
                        a(href="#") PROGRAMMING
                        a(href="#") SECURITY
                    .tags__contact 
                        div TEAM
                        div CONTACT

    section 
        .container 
            .center
                .center__blocs
                    .center__title Recent posts
                    .center__post.post__one 
                        img(src="../img/2.png", alt="")
                        .post__text 
                            .post__title The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises
                            .post__data <span>Derek Zimmer</span> |  JUL 25, 2018
                            .post__a 
                                a(href="#") Governments, 
                                a(href="#") Networking, 
                                a(href="#") Open Source, 
                                a(href="#") Privacy, 
                                a(href="#") Security
                            .post__messenge 
                                img(src="../img/icon/1.png", alt="")
                                div 0
                    .center__post 
                        img(src="../img/3.png", alt="")
                        .post__text 
                            .post__title How to get cheaper flights using a VPN
                            .post__data <span>Jayson</span> |  JUL 24, 2018
                            .post__a 
                                a(href="#") GUIDES
                            .post__messenge 
                                img(src="../img/icon/1.png", alt="")
                                div 0
                    .center__post 
                        img(src="../img/4.png", alt="")
                        .post__text 
                            .post__title Net Neutrality was repealed, but the fight is far from over
                            .post__data <span>Chris Miller</span> |  JUL 22, 2018
                            .post__a 
                                a(href="#") GOVERNMENTS,
                                a(href="#") NET NEUTRALITY,
                                a(href="#") NEWS
                            .post__messenge 
                                img(src="../img/icon/1.png", alt="")
                                div 0
                    .center__post.post__one
                        img(src="../img/2.png", alt="")
                        .post__text 
                            .post__title The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises
                            .post__data <span>Derek Zimmer</span> |  JUL 25, 2018
                            .post__a 
                                a(href="#") Governments, 
                                a(href="#") Networking, 
                                a(href="#") Open Source, 
                                a(href="#") Privacy, 
                                a(href="#") Security
                            .post__messenge 
                                img(src="../img/icon/1.png", alt="")
                                div 0
                    .center__post 
                        img(src="../img/3.png", alt="")
                        .post__text 
                            .post__title How to get cheaper flights using a VPN
                            .post__data <span>Jayson</span> |  JUL 24, 2018
                            .post__a 
                                a(href="#") GUIDES
                            .post__messenge 
                                img(src="../img/icon/1.png", alt="")
                                div 0
                    .center__post 
                        img(src="../img/4.png", alt="")
                        .post__text 
                            .post__title Net Neutrality was repealed, but the fight is far from over
                            .post__data <span>Chris Miller</span> |  JUL 22, 2018
                            .post__a 
                                a(href="#") GOVERNMENTS,
                                a(href="#") NET NEUTRALITY,
                                a(href="#") NEWS
                            .post__messenge 
                                img(src="../img/icon/1.png", alt="")
                                div 0
                    .center__btn
                        a(href="#") OLDER POSTS
                .center__blog
                    input(type="text" placeholder="Search blog")
                    .blog__text 
                        .blog__title 
                            img(src="../img/icon/3.png", alt="")
                            h2 Announcements 
                        ul.blog__ul  
                            li 
                                .blog__li Upcoming Changes (Live Chat, Less Censorship, More Access)
                            li 
                                .blog__li New Servers (US Washington DC)
                            li 
                                .blog__li New Servers (US Denver)
                            li 
                                .blog__li Open Source: Releasing the PIA iOS Client
                            li 
                                .blog__li Opera Extension is now available
                    .blog__text 
                        .blog__title
                            img(src="../img/icon/4.png", alt="")
                            h2 Popular posts 
                        ul.blog__ul  
                            li 
                                .blog__li The Gift of Privacy
                            li 
                                .blog__li UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture
                            li 
                                .blog__li About the PIA Client Security and VPN Security in General
                            li 
                                .blog__li A Private Net Is Just As Fundamental A Right As Freedom Of Speech
                            li 
                                .blog__li Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie
                    .blog__img 
                        img(src="../img/12.png", alt="")
                    .blog__tag 
                        .blog__tag-title Tag cloud
                        img(src="../img/13.png", alt="")

    section
        .price  
            .container
                .price__inner
                    .price__title Sign up today – 7 day money back guarantee
                    .price__blocs 
                        .price__bloc 
                            .price__bloc-title MONTHLY
                            .price__bloc-suptitle <span class="suptitle__span">$</span>6.95<span>/mo.</span>
                            .price__bloc-text Includes all VPN features.
                            .price__bloc-btn 
                                a(href="#") SIGN UP  
                        .price__bloc 
                            .price__bloc-title Two Years
                            .price__bloc-suptitle <span class="suptitle__span">$</span>2.91<span>/mo.</span>
                            .price__bloc-text <span>$166.80</span> $69.95 per two years
                                p Save 58%*
                            .price__bloc-btn 
                                a(href="#") SIGN UP  
                        .price__bloc 
                            .price__bloc-title YEARLY
                            .price__bloc-suptitle <span class="suptitle__span">$</span>3.33<span>/mo.</span>
                            .price__bloc-text <span>$83.40</span> $39.95 per year
                                p Save 52%*
                            .price__bloc-btn 
                                a(href="#") SIGN UP  
                    .price__pay Ways to pay: 
                        a(href="#") 
                            img(src="../img/5.png", alt="")
                        a(href="#") 
                            img(src="../img/6.png", alt="")
                        a(href="#") 
                            img(src="../img/7.png", alt="")
                        a(href="#") 
                            img(src="../img/8.png", alt="")
                        a(href="#") 
                            img(src="../img/9.png", alt="")
                        a(href="#") 
                            img(src="../img/10.png", alt="")
                        a(href="#") 
                            img(src="../img/11.png", alt="")
                        

                    .price__btn 
                        a(href="#") How to pay anonymously 
                            img(src="../img/icon/5.png", alt="")
                        a(href="#") REDEEM GIFT CARD
                            img(src="../img/icon/5.png", alt="")

    footer.footer
        .container 
            .footer__title Company Name 
                .footer__blocs 
                    .footer__left
                        .footer__bloc
                            .footer__bloc-title Company 
                            .footer__bloc-btn 
                                a(class="footer__bloc-a" href="#") About Us
                                a(class="footer__bloc-a" href="#") Our Team
                                a(class="footer__bloc-a" href="#") Careers
                                a(class="footer__bloc-a" href="#") Press
                                a(class="footer__bloc-a" href="#") In the Media
                                a(class="footer__bloc-a" href="#") VPN Reviews
                                a(class="footer__bloc-a" href="#") Companies We Support
                                a(class="footer__bloc-a" href="#") Contact Us
                                a(class="footer__bloc-a" href="#") Blog
                        .footer__bloc-center
                            .footer__center
                                .footer__center-title PROGRAMS
                                a(href="#") Whitehat Security
                                a(href="#") Affiliates

                            .footer__center
                                .footer__center-title.center-title <span>LEARN MORE</span> 
                                a(href="#") VPN Encryption
                                a(href="#") Android VPN App
                                a(href="#") iOS VPN App
                                a(href="#") PIA Sitemap
                        .footer__bloc
                            .footer__bloc-title LEGAL
                            .footer__bloc-btn 
                                a(class="footer__bloc-a" href="#") Terms Of Service
                                a(class="footer__bloc-a" href="#") Privacy Policy
                                a(class="footer__bloc-a" href="#") DMCA Policy
                                a(class="footer__bloc-a" href="#") Export Control Policy
                    .footer__right
                        .footer__right-title ABOUT
                        .footer__right-first Private Internet Access is the leading VPN Service provider specializing in secure, encrypted VPN tunnels which create several layers of privacy and security providing you safety on the internet. Our service is backed by multiple gateways worldwide with access in 28+ countries, 44+ regions.
                        .footer__right-second Map data provided by Google.
                        .footer__right-third PC Mag Editor’s Choice award image reprinted with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.<br>PC Mag quote reprinted from www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
                        .footer__right-second © London Trust Media, Inc. All Rights Reserved.
                        .footer__right-title.right-title SOCIAL
                        .footer__right-icon 
                            a(href="#") 
                                img(src="../img/icon/6.png", alt="")
                            a(href="#") 
                                img(src="../img/icon/7.png", alt="")
                            a(href="#") 
                                img(src="../img/icon/8.png", alt="")
                            a(href="#") 
                                img(src="../img/icon/9.png", alt="")
                            a(href="#") 
                                img(src="../img/icon/10.png", alt="")
                            a(href="#") 
                                img(src="../img/icon/11.png", alt="")
    
       
